<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/fragments :: html_head "></div>
<style>
.error {
	color: #F7166D;
	font-size: 12px;
	padding-top:5px;
}
</style>
</head>
<body class="bg-white">
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-5">
						<div class="card shadow-lg border-0 rounded-lg mt-5"
							style="background-color: #1B396A;">
							<div class="card-header">
								<h3 class="text-center font-weight-light my-4"
									style="color: white">
									<img src="../../static/images/logoTecNM.png" th:src="@{/images/logoTecNM.png}" height="60" width="60" style="float: left;"/>
									<img src="../../static/images/logo_icon.png" th:src="@{/images/logo_icon.png}" height="60" width="60" style="float: right;" />
									<p th:text="#{login.tramitecnm}" style="padding:10px; margin: 10px;">Complementary School
										Control System</p>
								</h3>
							</div>
							<div class="card-body" style="color: gray">
								<p th:if="${loginError}" th:text="#{login.error}"
									class="error">Wrong user or password</p>
								<div class="alert alert-danger" th:if="${param.error}">Nombre de usuario o contraseña incorrectos.</div>
								<div class="alert alert-success" th:if="${param.logout}">Sesión cerrada correctamente.</div>
								<form action="#" th:action="@{/login}" method="post">
									<fieldset>
										<div class="form-floating mb-3">
											<input type="text" class="form-control"
												id="username" placeholder="username" name="username"/> <label for="username"
												th:text="#{login.username}">Usuario</label>
											<ul>
												<!-- <li th:each="err : ${#fields.errors('clave')}"
													th:text="${err}" class="error" />-->
											</ul>
										</div>
										<div class="form-floating mb-3">
											<input type="password" class="form-control"
												id="password" name="password"
												placeholder="contraseña" /> <label for="password">Contraseña</label>
											<ul>
												<!-- <li th:each="err : ${#fields.errors('password')}"
													th:text="${err}" class="error" /> -->
											</ul>
										</div>
										<div class="d-grid gap-2 d-md-flex justify-content-md-end">
											<button type="submit" class="btn btn-secondary"> Entrar</button>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</body>
</html>